ul.flex-direction-nav {

    @include breakpoint(md) {
        display: none;
    }
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99999;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0px;
    list-style: none;
}

li.flex-nav-prev {
    float: left;
}
li.flex-nav-next {
    float: right;
}
a.flex-next {
    visibility:hidden;
}
a.flex-prev {
    visibility:hidden;
}
a.flex-next::after {
    visibility:visible;
    content: "\f345";
    font-family: dashicons;
    margin-right: 1rem;
    font-size: 4rem;
    @include breakpoint(sm) {
        font-size: 7rem;
    }
}
a.flex-prev::before {
    visibility:visible;
    content: "\f341";
    font-family: dashicons;
    margin-left: 1rem;
    font-size: 4rem;
    @include breakpoint(sm) {
        font-size: 7rem;
    }
}
